.consultantDesc{
  font-weight: 300;
  font-size: 12px;
}

.verdeExaudi{
    background-color: #cad223 !important;
    color: white;
    font-size: 15px;
}

.grisExaudi{
    background-color: white !important;
    color: gray !important;
    font-size: 15px;
}

.botonExaudi{    
    border:2px solid white;    
}

.botonExaudiGris{    
    border:2px solid gray;       
}


.anchoTotal{   
    width: 100% !important;
}

.alturaSectionHome{    
    height: 380px;    
}


.centrarVerticalSectionHome{
    padding-top: 150px !important;
}

.centrarVerticalSectionTeam{
    padding-top: 150px !important;
}

.titleTeam{
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    
}