.consultantDesc{
  font-weight: 300;
  font-size: 12px;
}

.verdeExaudi{
    background-color: #cad223 !important;
    color: white;
}

.botonExaudi{    
    border:2px solid white;
    border-color: white;
}

.anchoTotal{
    padding: 0px !important;
    width: 100% !important;
}

