.backgroundContacts{    
    background-image:url('../image/contact/trees.png') !important;    
    background-repeat: no-repeat;
    background-size: cover;
}

.consultantDesc{
    font-weight: 300;
    font-size: 12px;
}

.verdeExaudi{
    background-color: #cad223 !important;
    color: white;
    font-size: 15px;
}

.grisExaudi{
    background-color: white !important;
    color: gray !important;
    font-size: 15px;
}

.botonExaudi{    
    border:2px solid white;
    width:250px;
    height:40px;
    text-align: center;
    vertical-align: central;
    line-height: 35px;
}

.botonExaudiGris{    
    border:2px solid gray;
    font-family: "AktivGrotesk-Bold" !important;
    letter-spacing: 4px;

}


.anchoTotal{   
    width: 100% !important;
}

.alturaSectionHome{    
    height: 380px;    
}

.alturaSectionContact{    
    height: auto;    
}


.centrarVerticalSectionHome{
    padding-top: 150px !important;
}

.whiteLineFooter{
    height: 2px !important;
}
.titleTeam{
    font-size: 15px;
    text-align: center;
    font-weight:bold;

}

.iconosFooter{
    font-size: 24px !important; 
}

.colorTextoBanner{
    color: white !important;
    margin-left: 80px;
    display: none;
}


.colorTextoBannerMenu{
    color: #666666;
    margin-left: 200px;
}


.colorTextoBannerMenuGris{
    color: #ffffff;
    margin-left: 200px;
}

.colorIconoBannerMenu{
    color: #666666;    
}

.colorIconoBannerMenuGris{
    color: #ffffff;    
}

.bannerColor{
    background-color: white !important;
}


.bannerColorGris{
    background-color: #666666 !important;
}


.justifyText{
    text-align: justify !important; 
}

textarea.materialize-textarea{
    height: 125px !important;
}

input{
    height: 35px !important;
    margin-bottom: 0px !important;    
}

.textContact{
    font-size: 12px !important; 
}

nav{
    -webkit-box-shadow: 0 0px 0px 0px !important;
    -moz-box-shadow: 0 0px 0px 0px !important;
    box-shadow: 0 0px 0px 0px !important;
}

.img-team {
    display: inline; /*fixes space below image*/
    max-width: 100%;
}

.card {
    width: 702px;
    border:solid 1px #cad223;
    padding: 0px;
}

.caption {
    background: #cad223;
    padding: 1px;
    color: #cad223;
}

.caption2 {
    background: #DFDFDF;
    padding: 1px;
    color: #DFDFDF;
}

.captionServices {
    background: #cad223;
    padding: 1px;
    color: #cad223;
}


.notShadow{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}